@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

@theme {
    --color-primary-50: #e5d8f6;
    --color-primary-100: #9747ff;
    --color-secondary-50: #f2f2f2;
    --color-secondary-100: #dbdbdb;
    --color-secondary-300: #595959;
    --color-secondary-400: #4d4d4d;
    --color-secondary-500: #434343;
    --color-secondary-600: #3b3b3b;
    --color-secondary-700: #252525;
    --color-secondary-800: #121212;
    --color-bg-2: #f4f4f4;
    --color-customBlack-50: #3b3b3b;
    --color-customBlack-100: #272727;
    --color-customBlack-200: #1a1a1a;

    --background-image-gradient-radial: radial-gradient(var(--tw-gradient-stops));
    --background-image-gradient-conic: conic-gradient(from 180deg at 50% 50%, var(--tw-gradient-stops));
}

@utility container {
    max-width: 1280px;
}

:root {
    --toastify-font-family: inherit;
}

input[type="number"] {
    -moz-appearance: textfield;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* custom scrollbar */
::-webkit-scrollbar {
    width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f2f2f2;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #dbdbdb;
    border-radius: 50px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #cecece;
}

.no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
}

.popover-fadeIn {
    transition: all 4s ease-in-out;
    /* animation-name: openPopover;
    animation-duration: 2s; */
}

.popover-fadeIn:target {
    height: auto;
}

.custom-container {
    @apply w-full max-w-[1800px];
}

.hover-transition {
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
}

/* text editor */
.jodit-wysiwyg {
    font-family: inherit;
    height: 600px !important;
    color: #000;
    border-radius: 16px !important;
}

.jodit__preview-box {
    font-family: inherit;
    color: #000;
    padding: 4px !important;
    -ms-overflow-style: none !important;
    scrollbar-width: none !important;
}

.skeleton {
    background: #000;
    background: linear-gradient(110deg, #ececec 8%, #f5f5f5 18%, #ececec 33%);
    background-size: 200% 100%;
    transform: scaleX(-1);
    animation: 1.5s shine linear infinite;
}

.loader {
    color: #9747ff;
    font-size: 45px;
    text-indent: -9999em;
    overflow: hidden;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    position: relative;
    transform: translateZ(0);
    animation:
        mltShdSpin 1.7s infinite ease,
        round 1.7s infinite ease;
}

@media print {
    @font-face {
        font-family: IRANSans;
        font-style: normal;
        font-weight: bold;
        src: url("../assets/fonts/IRANSansWeb(FaNum)_Bold.ttf") format("truetype");
    }
    @font-face {
        font-family: IRANSans;
        font-style: normal;
        font-weight: 500;
        src: url("../assets/fonts/IRANSansWeb(FaNum)_Medium.ttf") format("truetype");
    }
    @font-face {
        font-family: IRANSans;
        font-style: normal;
        font-weight: normal;
        src: url("../assets/fonts/IRANSansWeb(FaNum).ttf") format("truetype");
    }

    html,
    body {
        height: initial !important;
        overflow: initial !important;
        font-family: "IRANSans" !important;
    }

    @page {
        size: A4;
        margin: 0;
    }
}

@keyframes openPopover {
    from {
        display: none;
    }
    to {
        display: block;
        height: auto;
    }
}

@keyframes shine {
    to {
        background-position-x: -200%;
    }
}

@keyframes mltShdSpin {
    0% {
        box-shadow:
            0 -0.83em 0 -0.4em,
            0 -0.83em 0 -0.42em,
            0 -0.83em 0 -0.44em,
            0 -0.83em 0 -0.46em,
            0 -0.83em 0 -0.477em;
    }
    5%,
    95% {
        box-shadow:
            0 -0.83em 0 -0.4em,
            0 -0.83em 0 -0.42em,
            0 -0.83em 0 -0.44em,
            0 -0.83em 0 -0.46em,
            0 -0.83em 0 -0.477em;
    }
    10%,
    59% {
        box-shadow:
            0 -0.83em 0 -0.4em,
            -0.087em -0.825em 0 -0.42em,
            -0.173em -0.812em 0 -0.44em,
            -0.256em -0.789em 0 -0.46em,
            -0.297em -0.775em 0 -0.477em;
    }
    20% {
        box-shadow:
            0 -0.83em 0 -0.4em,
            -0.338em -0.758em 0 -0.42em,
            -0.555em -0.617em 0 -0.44em,
            -0.671em -0.488em 0 -0.46em,
            -0.749em -0.34em 0 -0.477em;
    }
    38% {
        box-shadow:
            0 -0.83em 0 -0.4em,
            -0.377em -0.74em 0 -0.42em,
            -0.645em -0.522em 0 -0.44em,
            -0.775em -0.297em 0 -0.46em,
            -0.82em -0.09em 0 -0.477em;
    }
    100% {
        box-shadow:
            0 -0.83em 0 -0.4em,
            0 -0.83em 0 -0.42em,
            0 -0.83em 0 -0.44em,
            0 -0.83em 0 -0.46em,
            0 -0.83em 0 -0.477em;
    }
}

@keyframes round {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
